@{
    ViewData["Title"] = "Logout";
}

<h1>Login</h1>
<form asp-action="Logout" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
    <input type="submit" />
</form>