@model BPUIO_OneForEachOther.Models.Order

@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
    <h1>
        Order no. @Html.DisplayFor(model => model.Id)
        <span class="badge bg-secondary">@Html.DisplayFor(model => model.Status)</span>
        <div class="float-right">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a class="btn btn-outline-info" asp-action="Index">Cancel</a>
        </div>
    </h1>

    <hr />
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Lat" />
            <input type="hidden" asp-for="Lng" />
            <input type="hidden" asp-for="GdprConsent" />
            <input type="hidden" asp-for="GdprConsentDate" />
            <input type="hidden" asp-for="UserId" />
            <!--div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div-->
            <div class="form-group">
                <label asp-for="BoroughId" class="control-label"></label>
                <select asp-for="BoroughId" class="form-control" asp-items="ViewBag.BoroughId"></select>
                <span asp-validation-for="BoroughId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <input asp-for="PaymentType" class="form-control" />
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-outline-info" asp-action="Index">Cancel</a>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
